<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="author" content="Dwait Bhatt">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ '/images/favicon/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ '/stylesheet.css' | relative_url }}">
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SWMF3JW5PJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-SWMF3JW5PJ');
  </script>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>
      <tr style="padding:0px">
        <td style="padding:0px">
          {{ content }}
        </td>
      </tr>
    </tbody>
  </table>
  
  <script src="{{ '/scripts.js' | relative_url }}"></script>
</body>
</html>

